body {
  font-family: "Arial", sans-serif;
  background-color: #f4f4f4; /* Light background */
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-container {
  max-width: 400px;
  width: 90%;
  background: #ffffff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

header h1 {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 10px;
  color: #d54581;
}

header p {
  text-align: center;
  margin-bottom: 20px;
  color: #666;
}

.login-form {
  display: flex;
  flex-direction: column;
}

.form-group {
  margin-bottom: 15px;
}

label {
  font-weight: bold;
  margin-bottom: 5px;
  display: block;
}

input[type="email"],
input[type="password"],
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
}

textarea {
  resize: none;
}

.form-options {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.forgot-password {
  font-size: 0.9rem;
  color: #3498db;
  text-decoration: none;
}

.forgot-password:hover {
  text-decoration: underline;
}

.btn-primary {
  width: 100%;
  padding: 10px;
  background-color: #ea1543;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
}

.btn-primary:hover {
  background-color: #2980b9;
}

.form-actions {
  text-align: center;
}

.form-actions a {
  color: #3498db;
  text-decoration: none;
}

.form-actions a:hover {
  text-decoration: underline;
}
