body {
  background-image: url("https://img.freepik.com/free-photo/abstract-empty-smooth-light-pink-studio-room-background-use-as-montage-product-displaybannertemplate_1258-99408.jpg?ga=GA1.1.1714768791.1730724366&semt=ais_hybrid");
  background-repeat: no-repeat;
  background-size: 1600px 900px;
}

.signup-container {
  max-width: 400px;
  width: 90%;
  background: #ffffff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin: 20px auto;
}

header h1 {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 10px;
  color: #d54581;
}

header p {
  text-align: center;
  margin-bottom: 20px;
  color: #666;
}

.signup-form {
  display: flex;
  flex-direction: column;
}

.form-group {
  margin-bottom: 15px;
}

label {
  font-weight: bold;
  margin-bottom: 5px;
  display: block;
}

input,
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
}

textarea {
  resize: none;
}

.checkbox-group label {
  display: inline;
  margin-bottom: 5px;
}

.btn-primary {
  width: 100%;
  padding: 10px;
  background-color: #ea1543;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
}

.btn-primary:hover {
  background-color: #2980b9;
}
